<template name="pick">
  <p>
    <h2><b>Select the party you support</b></h2>
  </p>
  <div class="selections">
    <div id="select-pap" class="box">
      <div class="party-overlay">
        <img src="/images/logo-papxx.png" width="33" height="31">
      </div>
      <div class="avatar-holder"></div>
      <div class="party-name">People Action Party</div>
      <div class="select-party">Select</div>
      <div class="clear"></div>
    </div>

    <div id="select-pap" class="box">
      <div class="party-overlay">
        <img src="/images/logo-papxx.png" width="33" height="31">
      </div>
      <div class="avatar-holder"></div>
      <div class="party-name">People Action Party</div>
      <div class="select-party">Select</div>
      <div class="clear"></div>
    </div>

    <div id="select-pap" class="box">
      <div class="party-overlay">
        <img src="/images/logo-papxx.png" width="33" height="31">
      </div>
      <div class="avatar-holder"></div>
      <div class="party-name">People Action Party</div>
      <div class="select-party">Select</div>
      <div class="clear"></div>
    </div>

    <div id="select-pap" class="box">
      <div class="party-overlay">
        <img src="/images/logo-papxx.png" width="33" height="31">
      </div>
      <div class="avatar-holder"></div>
      <div class="party-name">People Action Party</div>
      <div class="select-party">Select</div>
      <div class="clear"></div>
    </div>

    <div id="select-pap" class="box">
      <div class="party-overlay">
        <img src="/images/logo-papxx.png" width="33" height="31">
      </div>
      <div class="avatar-holder"></div>
      <div class="party-name">People Action Party</div>
      <div class="select-party">Select</div>
      <div class="clear"></div>
    </div>

    <div id="select-pap" class="box">
      <div class="party-overlay">
        <img src="/images/logo-papxx.png" width="33" height="31">
      </div>
      <div class="avatar-holder"></div>
      <div class="party-name">People Action Party</div>
      <div class="select-party">Select</div>
      <div class="clear"></div>
    </div>

    <div id="select-pap" class="box">
      <div class="party-overlay">
        <img src="/images/logo-papxx.png" width="33" height="31">
      </div>
      <div class="avatar-holder"></div>
      <div class="party-name">People Action Party</div>
      <div class="select-party">Select</div>
      <div class="clear"></div>
    </div>

    <div id="select-pap" class="box">
      <div class="party-overlay">
        <img src="/images/logo-papxx.png" width="33" height="31">
      </div>
      <div class="avatar-holder"></div>
      <div class="party-name">People Action Party</div>
      <div class="select-party">Select</div>
      <div class="clear"></div>
    </div>

    <div id="select-pap" class="box">
      <div class="party-overlay">
        <img src="/images/logo-papxx.png" width="33" height="31">
      </div>
      <div class="avatar-holder"></div>
      <div class="party-name">People Action Party</div>
      <div class="select-party">Select</div>
      <div class="clear"></div>
    </div>

    <div id="select-pap" class="box">
      <div class="party-overlay">
        <img src="/images/logo-papxx.png" width="33" height="31">
      </div>
      <div class="avatar-holder"></div>
      <div class="party-name">People Action Party</div>
      <div class="select-party">Select</div>
      <div class="clear"></div>
    </div>
  </div>
</template>
